* {
  box-sizing: border-box;
  text-align: center;
}

body {
  background-color: #212529;
}
main {
  color: white;
}

#containerSettings {
  margin-top: 10px solid grey;
  margin-bottom: 10px solid grey;
}
